doctype html
head
  title Fancy Map
  meta(name='viewport', content='initial-scale=1.0')
  meta(charset='utf-8')
  link(rel="stylesheet", href="assets/css/normalize.css")
  link(rel="stylesheet", href="css/styles.css")
body
  .home-wrap
    aside.search-panel(data-bind="with: app.vm")

      input(data-bind="textInput: filter" name='search', placeholder='type your search ')
      
      ul.loc-list(data-bind="foreach: locList")
        li.loc-item(data-bind="text: label, visible: isVisible, click: $parent.getFocus")

    #map
    
    .wikipedia-container
        h3#wikipedia-header Relevant Wikipedia Links
        ul#wikipedia-links 

    script(src='assets/js/knockout-3.4.0-debug.js')
    script(src='//code.jquery.com/jquery-1.12.0.min.js')
    script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')

    script(src="js/model.js")
    script(src="js/main.js")
    script(src='js/map-data.js')
    
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXKeQf7B1-ar9clBwmK5cu9lmXeRNqpQ&callback=app.Map.initMap' async defer )