doctype html
head
  title Simple Map
  meta(name='viewport', content='initial-scale=1.0')
  meta(charset='utf-8')
  link(rel="stylesheet", href="assets/css/normalize.css")
  link(rel="stylesheet", href="css/styles.css")
body
  .home-wrap
    aside.search-panel(data-bind="with: app.ViewModel")

      //- label(for='l')
      input(data-bind="textInput: filter" name='search', placeholder='type your search ')
      p(data-bind="text: filter")
      ul.loc-list(data-bind="foreach: locList")
        li.loc-item(data-bind="text: label")
        li(data-bind="text: isVisible")
        // li(data-bind="text: marker")

    #map

  script(src="js/model.js")
  script(src='assets/js/knockout-3.4.0-debug.js')
  script(src="js/main.js")
  script(src='js/map-data.js')
   
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCxXKeQf7B1-ar9clBwmK5cu9lmXeRNqpQ&callback=app.ViewModel.loader' async defer )